## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [26]:
import pandas as pd
import datetime

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
df1 = pd.read_csv(r"C:\Users\arthu\OneDrive\Documentos\GitHub\Telegram\Python para Data Science e Machine Learning\Módulo 2 - Analisando Dados com Pandas\Dados\gasolina_2000+.csv")
df2 = pd.read_csv(r"C:\Users\arthu\OneDrive\Documentos\GitHub\Telegram\Python para Data Science e Machine Learning\Módulo 2 - Analisando Dados com Pandas\Dados\gasolina_2010+.csv")

C:\Users\arthu\AppData\Local\Temp\ipykernel_17772\3404202272.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(r"C:\Users\arthu\OneDrive\Documentos\GitHub\Telegram\Python para Data Science e Machine Learning\Módulo 2 - Analisando Dados com Pandas\Dados\gasolina_2010+.csv")

In [3]:
df1

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42633,52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
42634,52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
42635,52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
42636,52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
42637,52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [4]:
df2

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
1,9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
2,9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
3,9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
4,9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [5]:
df = pd.concat([df1,df2])
df

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [6]:
df.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 78184
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 18.4+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [24]:
df["DATA INICIAL"].head()

0    2004-05-09
1    2004-05-09
2    2004-05-09
3    2004-05-09
4    2004-05-09
Name: DATA INICIAL, dtype: object

In [25]:
df["DATA INICIAL"][2]
# POR ALGUMA KARALHA DE MOTIVO ELE PEDO DE 2011

2    2004-05-09
2    2011-01-02
Name: DATA INICIAL, dtype: object

In [23]:
df.iloc[2:3, 1:2]

  DATA INICIAL
2   2004-05-09

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [37]:
df["DATA INICAL"] = pd.to_datetime(df["DATA INICIAL"])

In [38]:
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [39]:
# NÃO TENHO A MENOR IDEIA DO KCT Q FOI FEITO AKI, O VIDEO DO SÓ MOSTRO PRONTO E EU COPIEI E FDS
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "-{:02d}".format(x.month))

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [40]:
df.columns # du krl, discubri q REALMENTE tinha 1 coluna chamada produtos, KRL

Index(['Unnamed: 0', 'DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO',
       'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'DATA INICAL', 'ANO-MES'],
      dtype='object')

In [42]:
df["PRODUTO"].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [44]:
gasosaComum = df[df["PRODUTO"] == "GASOLINA COMUM"]

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [54]:
df[df["ANO-MES"] == '2008-08']["PREÇO MÉDIO REVENDA"].mean()

9.300789303079416

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [60]:
df[ (df["ANO-MES"] == '2008-08') & (df["ESTADO"] == "SAO PAULO") ] ["PREÇO MÉDIO REVENDA"].mean()

7.80976

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [83]:
#DEMORO PRA 1 KRL, + FOI
x = df[df["PREÇO MÉDIO REVENDA"] > 5] [["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]]
x.sort_values("PREÇO MÉDIO REVENDA")

                  ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
77713           MARANHAO  2021-04                5.001
76597  RIO GRANDE DO SUL  2021-03                5.001
73989     RIO DE JANEIRO  2020-11                5.004
63235     RIO DE JANEIRO  2019-05                5.004
75916           RONDONIA  2021-02                5.007
...                  ...      ...                  ...
78098        MATO GROSSO  2021-05              103.915
77206        MATO GROSSO  2021-03              104.811
77919        MATO GROSSO  2021-04              105.096
77562        MATO GROSSO  2021-04              105.194
77018               ACRE  2021-03              107.500

[24304 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [92]:
# ESSA PORRA AKI SELECIONA TD DE 2012
df2k12 = df[(df["DATA FINAL"].apply(lambda x: x.year) == 2012)]

df2k12[df2k12["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

9.842052564102564

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [114]:
# SÃO FUKKING 2 E MEIA DA MANHA KRL, JA TO CORINGANDO NESSA PORRA PQP

dfRio = df[df["ESTADO"] == "RIO DE JANEIRO"]

dfRio ["MES"] = dfRio ["DATA FINAL"] .apply(lambda x: x.month)

mesRio = dfRio.groupby("ANO-MES") [["MES", "PREÇO MÉDIO REVENDA"]].last()
mesRio[mesRio["MES"] == 12]

C:\Users\arthu\AppData\Local\Temp\ipykernel_17772\2556010994.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfRio ["MES"] = dfRio ["DATA FINAL"] .apply(lambda x: x.month)

         MES  PREÇO MÉDIO REVENDA
ANO-MES
2004-12   12                1.621
2005-12   12                1.821
2006-12   12                1.805
2007-12   12                1.818
2008-12   12                2.081
2009-12   12                1.978
2010-12   12                1.982
2011-12   12                2.007
2012-12   12                2.120
2013-12   12                1.673
2014-12   12                1.803
2015-12   12                2.115
2016-12   12                2.067
2017-12   12                2.271
2018-12   12                3.074
2019-12   12                3.841
2020-12   12                3.784

In [116]:
# O DISGRAÇADO FEZ ISSO AKI, EU N SEI + QQ TA KOTECENDO
(mesRio[mesRio["MES"] == 12] / mesRio[mesRio["MES"] == 12].shift(1) - 1) * 100

         MES  PREÇO MÉDIO REVENDA
ANO-MES
2004-12  NaN                  NaN
2005-12  0.0            12.338063
2006-12  0.0            -0.878638
2007-12  0.0             0.720222
2008-12  0.0            14.466447
2009-12  0.0            -4.949543
2010-12  0.0             0.202224
2011-12  0.0             1.261352
2012-12  0.0             5.630294
2013-12  0.0           -21.084906
2014-12  0.0             7.770472
2015-12  0.0            17.304493
2016-12  0.0            -2.269504
2017-12  0.0             9.869376
2018-12  0.0            35.358873
2019-12  0.0            24.951204
2020-12  0.0            -1.483989

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [133]:
MAXI = df.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"].sort_index()
MINI = df.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"].sort_index()

dfDiferenciado = pd.DataFrame()

dfDiferenciado["MAXIMO"] = MAXI
dfDiferenciado["MINIMO"] = MINI
dfDiferenciado["DIFERENCA"] = MAXI - MINI
dfDiferenciado["DIFERENÇA PERCENTUAL"] = (MAXI - MINI) / MINI * 100

dfDiferenciado

C:\Users\arthu\AppData\Local\Temp\ipykernel_17772\1979864578.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  MAXI = df.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"].sort_index()
C:\Users\arthu\AppData\Local\Temp\ipykernel_17772\1979864578.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  MINI = df.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"].sort_index()

          MAXIMO  MINIMO  DIFERENCA  DIFERENÇA PERCENTUAL
ANO-MES
2004-05   39.328   0.766     38.562           5034.203655
2004-06   39.046   0.887     38.159           4302.029312
2004-07   39.081   0.899     38.182           4247.163515
2004-08   39.052   0.999     38.053           3809.109109
2004-09   39.030   0.999     38.031           3806.906907
...          ...     ...        ...                   ...
2021-01   98.220   2.699     95.521           3539.125602
2021-02  101.444   2.799     98.645           3524.294391
2021-03  107.500   2.749    104.751           3810.512914
2021-04  105.194   2.824    102.370           3625.000000
2021-05  103.915   2.824    101.091           3579.709632

[204 rows x 4 columns]

In [146]:
# TA FODA DE CONTINUAR OH PAI
idx_max = df.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmax()
idx_min = df.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmin()

df.loc[idx_max, :][["ESTADO", "PREÇO MÉDIO REVENDA", "ANO-MES"]]

# SEGUINTE ERA PRA EXXXXTTTTAAAA PORRRA AKI TER FUNCONADO + N FOI, SAÕ 3H DA MANHA, E EU N SEI NEM QQ ACONTECEU NESSA MADRUGADA CMG ESTUDANDO
# dfDiferenciado["ESTADO_MAX"] = df.loc[idx_max,:]["ESTADO"].values
# dfDiferenciado["ESTADO_MIN"] = df.loc[idx_min,:]["ESTADO"].values

# era pra esses comando terem funcionado q dai era só fazer 1 value_counts pro maximo e minimo q era GG

            ESTADO  PREÇO MÉDIO REVENDA  ANO-MES
18529         ACRE               39.328  2004-05
18529         ACRE                3.259  2013-09
18610         ACRE               39.046  2004-06
18610     MARANHAO                2.300  2013-09
18826         ACRE               39.081  2004-07
...            ...                  ...      ...
75783  MATO GROSSO               98.220  2021-01
76305        AMAPA              101.444  2021-02
77018         ACRE              107.500  2021-03
77562  MATO GROSSO              105.194  2021-04
78098  MATO GROSSO              103.915  2021-05

[353 rows x 3 columns]